player-connection-mode=Listen
player-connection-guid=3672735175
player-connection-debug=0
player-connection-project-name=SatcomUI
player-connection-ip=129.21.64.137
player-connection-ip=172.20.0.1
player-connection-ip=172.23.0.1
player-connection-ip=172.19.0.1
player-connection-ip=172.18.0.1
player-connection-ip=172.22.0.1
player-connection-ip=172.17.0.1
player-connection-ip=10.13.38.47
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
